:root {
  --black-color: #010000;
  --white-color: #ffffff;
  --lightgray-color: #e6e6e6;
}

.App {
  font-size: 18px;
  height: 100vh;
  width: 100%;
  /* font-weight: 400; */
  /* font-style: normal; */
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: black;
  color: white;
  height: 90px;
  position: fixed;
  z-index: 10;
}

header .logo h3 {
  margin: 0;
  padding: 0;
  color: white;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  font-size: 19px;
  text-decoration: none;
  color: var(--white-color);
  transition: all 0.2s;
}

nav ul li a:hover {
  color: #48b4af;
}

.container {
  height: 100vh;
  padding: 120px;
}

.container h1 {
  text-align: center;
  font-size: 50px;
}

.profileImage {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.service {
  margin-top: 80px;
  margin-bottom: 60px;
}

#skill img {
  object-fit: cover;
  margin-bottom: 12px;
  margin-top: 12px;
  height: 300px;
  width: 320px;
}

#skill button {
  margin-bottom: 100px;
}

#blog img {
  object-fit: cover;
  margin-bottom: 12px;
  margin-top: 12px;
  height: 150px;
}

#blog .link-image img {
  object-fit: cover;
  margin-bottom: 12px;
  margin-top: 12px;
  height: 340px;
}

.link-image {
  cursor: pointer;
  max-width: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.link-image img {
  height: auto;
  transition: transform 0.6s ease; /* 変化時間 */
}

.link-image:hover img {
  transform: scale(1.1); /* 拡大 */
}

/* マスク */
.link-image::before {
  background: rgba(61, 56, 66, 0.368); /* マスクの色(黒の50%) */
  bottom: 0;
  content: "";
  height: auto;
  left: 0;
  opacity: 0; /* 最初は透明（非表示） */
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.6s ease; /* ゆっくりopacityのみへ変化させる */
  width: 100%;
  z-index: 1;
}
.link-image:hover::before {
  opacity: 1;
}

#blog a:hover {
  opacity: 1;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.qiita-image {
  overflow: hidden;
  width: 250px;
}

.qiita-image img {
  height: auto;
  transition: transform 0.6s ease; /* 変化時間 */
}

.qiita-image:hover img {
  transform: scale(1.16); /* 拡大 */
}
